* {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
html,
body {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100vh;
  width: calc(100% - 50px);
  margin: 0 50px;
  /* background-color: #387576; */
  overflow: hidden;
  background-image: url('./wallpaper/windowxpwallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

span.start-btn {
  position: absolute;
  left: 0;
  width: 100%;
  max-width: calc(100% - 95vw);
  cursor: pointer;
}
.error {
  position: absolute;
  width: 24vw;
  max-width: 494vw;
  height: 120px;
  padding: 2px;
  background-color: #e8e8d8;
  border: 3px outset #dedede;
  cursor: move;
  animation: display 0.2s;
  animation-fill-mode: forwards;
  left: 800px;
  top: 50px;
}
.error2 {
  position: fixed;
  width: 25vw;
  max-width: 300px;
  height: 420px;
  padding: 2px;
  background-color: #e8e8d8;
  border: 3px outset #dedede;
  cursor: move;
  left: 260px;
  top: 400px;
}

.title {
  position: relative;
  width: 100%;
  height: 30px;
  margin: auto;
  color: #fff;
  text-shadow: 0 0 #fff;
  line-height: 30px;
  background-image: linear-gradient(left, #0050e0, #3890f8);
  background-image: -webkit-linear-gradient(left, #0050e0, #3890f8);
}
button.close-button {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 25px;
  height: 25px;
  color: #000;
  text-align: center;
  font-weight: bold;
  background: #e8e8d8;
}
.message {
  width: 100%;
  margin-top: 16px;
  margin-left: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

button.ok {
  position: absolute;
  width: 100px;
  height: 27px;
  background: #e8e8d8;
  border: 1px solid #2d2d2d;
  box-shadow: inset -1px -1px 2px rgb(0 0 0 / 70%);
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
